<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" static>
    <link rel="stylesheet" href="../static/styles.css" static>
</head>
<body>
    <div class="container py-4">
        <h1 class="uniquifier">Did you know that there's a tunnel under Ocean Blvd</h1>

        <div class="row g-3">
            <!-- Imagens -->
            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk1.jpg" alt="LDR1" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk2.jpg" alt="LDR2" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>
            
            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk3.jpg" alt="LDR3" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>
            
            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk4.jpg" alt="LDR4" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk5.jpg" alt="LDR5" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk6.jpg" alt="LDR6" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk7.jpg" alt="LDR7" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk8.jpg" alt="LDR8" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk9.jpg" alt="LDR9" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk10.jpg" alt="LDR10" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk11.jpg" alt="LDR11" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk12.jpg" alt="LDR12" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk13.jpg" alt="LDR13" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk14.jpg" alt="LDR14" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk15.jpg" alt="LDR15" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk16.jpg" alt="LDR16" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk17.jpg" alt="LDR17" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dky18.jpg" alt="LDR18" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk19.jpg" alt="LDR19" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <img src="../static/dyk/dyk20.jpg" alt="LDR20" class="img-fluid rounded shadow zoomable" data-bs-toggle="modal" data-bs-target="#imageModal" static>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true" static>
        <div class="modal-dialog modal-dialog-centered" static>
            <div class="modal-content" static>
                <div class="modal-body p-0" static>
                    <img src="" id="modalImage" class="img-fluid rounded" static>
                </div>
                <div class="modal-footer" static></div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" static></script>
    <script>
        // Adiciona o evento de clique às imagens
        const zoomableImages = document.querySelectorAll('.zoomable');
        const modalImage = document.getElementById('modalImage');

        zoomableImages.forEach(image => {
            image.addEventListener('click', function () {
                // Atualiza a imagem no modal
                modalImage.src = this.src;
                modalImage.alt = this.alt;
            });
        });
    </script>
</body>
</html>
